.resume {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume p {
  font-size: 14px;
  font-weight: bold;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume p span {
  height: 19px;
  min-width: 25px;
  font-size: 12px;
  font-weight: bold;
  color: var(--gray-200);
  background: var(--gray-400);
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 999px;
}
